.container1{
    margin: 0 auto;
    padding: 40px;
    display: grid;
    width: 40%;
}

.conttainer1 h1{
    font-size: 10rem;
}

.container1 h2{
    text-align: center;
}

.container1 form{

    display: grid;
}

.container1 input{
    margin: 16px;
    padding: 4px;
    border: none;
    border-bottom:2px solid black ;
}